.jumbotron{
      color: black;
      background-color: lightskyblue;
      margin-top: auto;

}
.btn{
      color: green;

}
.footer{
      padding: 10px 10px 0 10px;
      
      margin-bottom: 60px;
}