.jumbotron{
      color: black;
      background-color: blueviolet;

}
.btn{
      color: green;

}
.footer{
      padding: 10px 10px 0 10px;
      background-color: blueviolet;
      margin-bottom: 0px;
}